<div class="sidebar">

    <div class="logo-section">

        <div class="logo-circle">
            <i class="bi bi-mortarboard-fill"></i>
        </div>

        <h3>SMARTSEAT</h3>

        <p>MDCGS</p>

    </div>

    <ul>

    <li data-page="dashboard">
        <i class="bi bi-grid-1x2-fill"></i>
        <span>Dashboard</span>
    </li>

    <li data-page="students">
        <i class="bi bi-people-fill"></i>
        <span>Students</span>
    </li>

    <li data-page="rooms">
        <i class="bi bi-building"></i>
        <span>Rooms</span>
    </li>

    <li data-page="createExam">
        <i class="bi bi-journal-text"></i>
        <span>Create Exams</span>
    </li>

    <li data-page="nominalRoll">
        <i class="bi bi-file-earmark-spreadsheet-fill"></i>
        <span>Nominal Roll</span>
    </li>

    <li data-page="seating">
        <i class="bi bi-grid"></i>
        <span>Seating Generator</span>
    </li>

    <li data-page="reports">
        <i class="bi bi-file-earmark-bar-graph"></i>
        <span>Reports</span>
    </li>

    <li class="sidebar-divider"></li>

    <li data-page="profile">
        <i class="bi bi-person-circle"></i>
        <span>Teacher Profile</span>
    </li>

    <li data-page="settings">
        <i class="bi bi-gear-fill"></i>
        <span>Account Settings</span>
    </li>

    <li id="logoutBtn">
        <i class="bi bi-box-arrow-right"></i>
        <span>Logout</span>
    </li>

</ul>

</div>