<div class="topbar">

    <div>

        <h2 id="pageTitle">Dashboard</h2>

        <p>

            Welcome back,

            <strong id="teacherName">

                Aysha

            </strong>

            👋

        </p>

    </div>

    <div class="top-right">

        <button class="notification-btn">

            <i class="bi bi-bell-fill"></i>

        </button>

        <img
            src="https://i.pravatar.cc/100?img=12"
            class="profile-image"
            alt="Profile">

    </div>

</div>